@model ProductListViewModel
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


<script type="text/javascript">
          $(document).ready(function () {


              $("#slideshow > div:gt(0)").hide();

              setInterval(function () {
                  $('#SlideshowImages > div:first')
                    .fadeOut(1000)
                    .next()
                    .fadeIn(1000)
                    .end()
                    .appendTo('#SlideshowImages');
              }, 3000);
          });
</script>

<style type="text/css" style="display: none !important;">
    #SlideshowImages {
        margin: 50px auto;
        position: relative;
        width: 200px;
        height: 200px;
        padding: 10px;
        box-shadow: 0 0 20px rgba(0,0,0,0.4);
    }

        #SlideshowImages > div {
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
        }
</style>


<div class="container" style="padding-right:800px">
    <div >
        <div id="SlideshowImages">
            @foreach (var item in Model.Banners)
            {
                <div>
                    <img src="@item.Link" asp-append-version="true" style="width: 800px; height: 300px;">
                </div>

            }

        </div>
        </div>
    </div>

    <br />
    <br />
    <div>
        <div class="row"  style="padding-top:100px">
            <h1 class="display-4">Top food in week</h1>
        </div>
        <div class="row" style="padding-top:30px">
            @foreach (var product in Model.Products)
            {
                <partial name="_Product" model="product"></partial>

            }
        </div>
    </div>
